<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h1>test MONGODB</h1>



        <form method="POST" action="/clients/add" enctype="multipart/form-data">
            Nom:<input type="text" name="nomClient" />
            <br>
            <br>
            Adresse:<input type="text" name="adresse" />
            <br>
            <br>
            Code postal:<input type="text" name="codePostal" />
            <br>
            <br>
            Ville:<input type="text" name="ville" />
            <br>
            <br>
            Email:<input type="email" name="email" />
            <br>
            <br>
            Date de naissance:<input type="date" name="codePostal" />
            <br>
            <br>
            CA:<input type="text" name="ca" />
            <br>
            <br>
            <input type="submit" value="VALIDER" />
        </form>




    </body>
</html>