<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h1>test MONGODB</h1>

        <br>

        <form action="/insertAlbum" method="post">
            <button type="submit">ajout album</button>
        </form>

        <br>

        <form action="/insertArtist" method="post">
            <button type="submit">ajout artist</button>
        </form>

        <br>

        <form action="/insertClient" method="post">
            <button type="submit">ajout client</button>
        </form>


        <br>

        <form action="/albums/list" method="get">
            <button type="submit">liste album</button>
        </form>

        <br>

        <form action="/artists/list" method="post">
            <button type="submit">liste artist</button>
        </form>

        <br>

        <form action="/listeClient" method="post">
            <button type="submit">liste client</button>
        </form>

        <br>

    </body>
</html>